***

body {margin: 0; padding: 0;}

.icon_pos {
    width: 450px;
    height: 160px;
    margin-top: 320px;
    margin-left: 180px;
    z-index: -1
}

.line_pos {
    width: 3px;
    height: 220px;
    margin-left: 90px;
    margin-top: 320px;
}

.text_pos {
    display: block;
    font-family: monospace;
    color: #ffffff;
    font-size: 13px;
    margin-left: 850px;
    margin-top: 25px;
}

.inf_pos {
    display: block;
    font-family: monospace;
    color: #ffffff;
    font-size: 10px;
    text-align: center;
    margin-top: 240px;
    font-family: Roboto;
}

.maintnc {
    display: block;
    margin-left: 960px;
    margin-top: -200px;
    height: 60px;
    width: 60px;
}

.oops {
    display: block;
    font-family: Roboto;
    margin-left: 800px;
    margin-top: 30px;
    color: #ffffff;
    font-size: 30px;
}
